{% extends "layout.html" %}

{% block title %}
    Therapy Agreement
{% endblock %}

{% block content %}
    <h1>Create Therapy Agreement</h1>
    <form action="{% url 'users:create_therapy_agreement' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="field-label-tag">{{ field.label_tag }}</div>
            <div class="text-field">{{ field }}</div>
            <div class="field-error">{{ field.errors }}</div>
        {% endfor %}
        <button class="submit-button">Invite Patient</button>
    </form>
{% endblock %} 