{% extends "layout.html" %}

{% block title %}
    Register a New User
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form class="registration-form" action="/users/register/" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form  %}
            <div class="field-label-tag">{{field.label_tag}}</div>
            <div class="text-field">{{field}}</div>
            <div class="field-error">{{field.errors}}</div>
        {% endfor %}
        
        <button class="submit-button">Submit</button>
    </form>
{% endblock %} 