<!DOCTYPE html>
{% load static %}
{% load user_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <title>
        {% block title %}


        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class = "navbar">

        <div class="top-nav-container">
            <a href="/">Home</a>
            <!-- show nav-items on click -->
            <a href="javascript:void(0);" class="menu-icon" onclick="switchMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>           
    

        <div id="burger-menu-container" class="burger-menu-container">
            <ul id="nav-items" class="nav-items">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'symptoms:dashboard' %}">Dashboard</a></li>
                    {% if user|has_group:"Patient" %}
                        <li><a href="#" onclick="document.getElementById('symptom-assessment').submit();">Symptom Assessment</a></li>
                        <li><a href="{% url 'users:your_therapists' %}">Your Therapists</a></li>
                    {% endif %}
                    <li><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
                {% else %}
                    <li><a href="/users/register">Register</a></li>
                    <li><a href="/users/login">Login</a></li>
                {% endif %}
            </ul>
        </div>

        
            
        <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form> 
        <form id="symptom-assessment" action="{% url 'symptoms:questionnaireSelection' %}" style="display: none;">
            {% csrf_token %}
        </form>

        
    </nav>

    <div class="content-wrapper">
        {% block content %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </div>
    

    <script>
        function switchMenu() {
            var x = document.getElementById("burger-menu-container");
            if (x.style.display === "flex") {
              x.style.display = "none";
            } else {
              x.style.display = "flex";
            }
          }
    </script>
</body>
</html>